.ons-aanbod {
    @extend %generic-padding;
    @extend %section-inner;
}

.ons-aanbod__header, .ons-aanbod__header-number {
    @extend .main-header-font;
    font-weight: bold;
    margin-bottom: 0;
}

.grid-container {
    max-width: 1440px;
}

.ons-aanbod__header-number {
    color: map-get($global-palette, medium-grey);
    margin-bottom: 20px;
}

.ons-aanbod__sort-text {
    @extend .ons-aanbod-subheader;
}
  
.ons-aanbod__sort-select {
    width: 280px;
    height: 56px;
    border: 2px solid #8D9297;
    @extend %generic-border-radius;
    option {
        @extend .ons-aanbod-select;          
    }
}