.homepage__header-image {
    background-image: url('/img/city-street.jpg');
    background-size: cover;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
}

.homepage__header-image-wrapper {
    height: 100vh;
}

.homepage__uitgelicht-pointer-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.homepage__uitgelicht-pointer {
    @extend %center-in-parent;
    @extend %generic-padding;
    @extend .homepage-subtitle-font;
    font-weight: 800;
    margin-bottom: 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
    background-color: #FFFFFF;
    width: 130px;
    height: 52px;
    @include breakpoint (medium up) {
        width: 296px;
        height: 91px;
    }
}

.homepage__search-bar {
    @extend %center-in-parent;
    @extend %generic-border-radius;
    display: flex;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 101px;
    padding-left: $margin-small / 2;
    padding-right: $margin-small / 2;
    top: 70%;
    position: relative;
    @include breakpoint (medium up) {
        height: 126px;
        width: 620px;        
    }
    @include breakpoint (large up) {
        width: 780px;       
        height: 146px 
    }
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.25);
}

.homepage__search-button {
    @extend %center-in-parent;
    display: block;
    position: relative;
    top: 2rem;
}

.homepage__featured {
    margin-top: $margin-small;
    margin-bottom: $margin-large;
}

.homepage__about-and-info {
    @extend %generic-padding;
}

.homepage__our-products-button {
    @extend %center-in-parent;
    margin-top: $margin-small;
    height: 56px;
    width: 280px;
    @include breakpoint (medium up) {
        height: 66px;
        width: 380px; 
    }
}

.search-bar__title {
    @extend .search-bar-title-font;
}

.search-bar__left, .search-bar__right {
    display: flex;
    align-items: center;
}

.search-bar__left {
    @include breakpoint (medium up) {
        border-right: .5px groove map-get($global-palette, medium-grey);
    }
}

.search-bar__icon {
    position: relative;
    @include breakpoint (small only) {
        height: 22px;
        width: 14px;
    }
    @include breakpoint (medium up) {
        left: 5rem;        
    }
}

.search-bar__button {
    @include breakpoint(small) {
        height: 35px;
        width: 260px;
    }
    @include breakpoint(medium up) {
        height: 66px;
        width: 200px;
    }
}

.homepage__featured {
    text-align: center;
    align-items: center;
    display: flex;
}

.homepage__about {
    @extend %center-in-parent;
    max-width: 625px;
    div {
        @extend .standard-font;
        font-weight: 600;
        color: map-get($global-palette, dark);
    }
    margin-bottom: 80px;
}

.homepage__about-title, .homepage__featured-title {
    @extend .main-header-font;
    text-align: center;
    color: map-get($global-palette, dark);
}

.homepage__about-title {
    @include breakpoint (small only) {
        text-align: left;
    }
}

.homepage__contact-details-wrapper {
    @extend %center-in-parent;
    max-width: 801px;
}

.homepage__contact-details {
    @extend .contact-detail-font;
    color: map-get($global-palette, dark);
}

.homepage__contact-details__right-div {
    padding-left: 1rem;
}

.homepage__contact-details__left-div {
    text-align: right;
}

.homepage__uitgelicht-pointer__icon {
    display: block;
    margin-top: .5rem;
    @extend %center-in-parent;
}

.homepage__featured-cars {
    @extend %section-inner
}