.product-card {
    @extend %center-in-parent;
    @extend %small-border-radius;
    height: 330px;
    width: 280px;
    margin-bottom: 2rem;
    @include breakpoint (medium) {
        height: 332px;
        width: 322px;
    }
}

.product-card__car-image {
    width: 100%;
    height: 100%;
    opacity: .9;
}

.product-card__car-name {
    @extend .product-card-header;
    margin-bottom: 0;
}

.product-card__car-model {
    @extend .product-card-header;
    color: map-get($global-palette, medium-grey)
}

.product-card__car-price {
    text-align: right;
}

.product-card__top-text-row {
    padding: 15px 20px 0 20px
}

.product-card__bottom-text-row {
    padding: 0 20px 150px 20px 
}

.product-card__decorative-line {
    background-color: #EFEFEF;
    width: 292px;
    height: 1px;
    margin: 0 auto;
}

.product-card__year-header, .product-card__kilometers-header {
    @extend open-location-font;
    font-weight: bold;
    color: map-get($global-palette, medium-grey);
    margin-bottom: 0rem;
}

.product-card__year, .product-card__check-me-out, .product-card__kilometers {
    color: map-get($global-palette, dark);
    font-weight: 600;
}

.product-card__check-me-wrapper {
    display: flex;
    align-items: center;
}

.product-card:hover {
    cursor: pointer;
    .product-card__check-me-out {
        @extend %red-underline;
    }
}