%center-in-parent {
    margin: 0 auto;
}

%dark-bg-white-text {
    color: $white;
    background-color: map-get($global-palette, 'darkest-grey');
}

%flex-and-justify {
    justify-content: space-around;
    display: flex;
}