
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$global-palette: (
    darkest-grey: #293133,
    dark-grey: #555C62,
    medium-grey: #999EA3,
    light-grey: #A7A7A7,
    lightest-grey: #BABABA
);

@font-face {
    font-family: "Montserrat";
    src: font-files("../fonts/montserrat/montserrat.regular.ttf"); 
}

$main-margin-mobile: 1.25rem;
$main-margin-tablet: 2.0625rem;


$paragraph-styles: (
  'small': (
    'p1': ('fs': 18, 'lh': 28, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'p2': ('fs': 15, 'lh': 24, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'p3': ('fs': 16, 'lh': 22, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'contact-info': ('fs': 16, 'lh': 26, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'navbar-link': ('fs': 15, 'lh': 20, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'contact': ('fs': 21, 'lh': 25, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'attention-quote': ('fs': 20, 'lh': 38, 'mt': 0, 'mb': $paragraph-margin-bottom)
  ),
  'medium': (
    'p1': ('fs': 22, 'lh': 33, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'p2': ('fs': 18, 'lh': 32, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'p3': ('fs': 16, 'lh': 22, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'contact-info': ('fs': 18, 'lh': 32, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'navbar-link': ('fs': 15, 'lh': 20, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'contact': ('fs': 24, 'lh': 29, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'attention-quote': ('fs': 24, 'lh': 38, 'mt': 0, 'mb': $paragraph-margin-bottom)
  ),
  'large': (
    'p1': ('fs': 15, 'lh': 24, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'p2': ('fs': 16, 'lh': 24, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'p3': ('fs': 16, 'lh': 22, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'contact-info': ('fs': 18, 'lh': 32, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'navbar-link': ('fs': 15, 'lh': 20, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'spec-header': ('fs': 13, 'lh': 16, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'spec-text': ('fs': 15, 'lh': 19, 'mt': 0, 'mb': $paragraph-margin-bottom),
  )
);

$header-styles: (
  'small': (
    'h1': ('fs': 48, 'lh': 58, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'h2': ('fs': 42, 'lh': 52, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'h3': ('fs': 28, 'lh': 34, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'product-card-header': ('fs': 18, 'lh': 22, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'contact-info': ('fs': 16, 'lh': 26, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'navbar-link': ('fs': 15, 'lh': 20, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'contact': ('fs': 21, 'lh': 25, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'attention-quote': ('fs': 20, 'lh': 38, 'mt': 0, 'mb': $paragraph-margin-bottom)
  ),
  'medium': (
    'h1': ('fs': 48, 'lh': 58, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'h2': ('fs': 42, 'lh': 52, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'h3': ('fs': 28, 'lh': 34, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'product-card-header': ('fs': 18, 'lh': 22, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'contact-info': ('fs': 16, 'lh': 26, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'navbar-link': ('fs': 15, 'lh': 20, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'contact': ('fs': 21, 'lh': 25, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'attention-quote': ('fs': 20, 'lh': 38, 'mt': 0, 'mb': $paragraph-margin-bottom)
  ),
  'large': (
    'h1': ('fs': 48, 'lh': 58, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'h2': ('fs': 42, 'lh': 52, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'h3': ('fs': 28, 'lh': 34, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'product-card-header': ('fs': 18, 'lh': 22, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'contact-info': ('fs': 16, 'lh': 26, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'contact': ('fs': 21, 'lh': 25, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'attention-quote': ('fs': 20, 'lh': 38, 'mt': 0, 'mb': $paragraph-margin-bottom)
    )
);

$navbar-fonts: (
  'small': (
    'navbar-header-font': ('fs': 35, 'lh': 43, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'navbar-dropdown-font': ('fs': 14, 'lh': 18, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'navbar-link-font': ('fs': 15, 'lh': 20, 'mt': 0, 'mb': $paragraph-margin-bottom)
  )
);

$footer-fonts: (
  'small' : (
    'contact-detail-font': ('fs': 16, 'lh': 24, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'open-day-font': ('fs': 18, 'lh': 20, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'open-location-font': ('fs': 13, 'lh': 21, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'open-times-font': ('fs': 16, 'lh': 29, 'mt': 0, 'mb': $paragraph-margin-bottom),
    'bottom-copyright-font' : ('fs': 14, 'lh': 21, 'mt': 0, 'mb': $paragraph-margin-bottom)
  )
)