/**
* non-font classes
*/


.product-page__main-info, .product-page__opties {
    background-color: map-get($global-palette, dark);
    color: white
}

.product-page__image-header, 
.product-page__opties, 
.product-page__extra-specificaties, 
.product-page__over-gam, 
.product-page__related-products {
    @extend %generic-padding;
}

.product-page__main-info__inner, .product-page__specificaties__inner {
    @extend %generic-padding;
    @include breakpoint (medium only) {
        max-width: 640px;
        margin: 0 auto;
    }
}

.product-page__image-header__button-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: -1.5rem;
    margin: 0 auto;
    width: 160px;
}

.product-page__image-header {
    position: relative; 
    z-index: 2;
}

.product-page__main-info {
    position: relative;
    top: -10rem;
    padding-top: 10rem;
}

.product-page__main-info__subsection {
    margin-bottom: $margin-small / 2;
    div {
        margin-bottom: $margin-small / 4;
    }
}

.product-page__decorative-line {
    background-color: map-get($global-palette, medium-grey);
    width: 80%;
    height: 1px;
    margin: 0 auto;
}

.product-page__social-icons-wrapper {
    display: flex;
    justify-content: space-between;
}

.product-page__input {
    @extend .product-page__input;
    width: 100%;
    height: 1rem;
    border-radius: 2px;
    border: 1px solid map-get($global-palette, light-grey);
    background-color: inherit;
    color: map-get($global-palette, medium-grey);
    margin-bottom: .625rem;
}

.product-page__all-specs-arrow  {
    transform: rotate(90deg);
    path {
        stroke: white;                
    }      
}