$topbar-height-sm: 63px;
$topbar-height-md: 71px;
$topbar-height-lg: 130px;

.top-bar {
    height: $topbar-height-sm;
    margin: 0 auto 2rem;
    max-width: map-get($breakpoints, xlarge);
    color: $white;
    background-color: transparent;
    @include breakpoint(medium up) {
        margin: 0 auto;
        height: $topbar-height-md;
    }
    @include breakpoint(large up) {
        height: $topbar-height-lg;
    }
}

.clickable__logo:hover {
    cursor: pointer;
}

.header-sticky {
    position: fixed !important;
    visibility: hidden;
    width: 100%;
    top: 0;
    z-index: 5;
    .top-bar {
        margin: 0 auto;
        height: $topbar-height-sm !important;
        .header-subsection {
            .navbar__company-log-wrapper {
                max-height: 50px;
                max-width: 100px;                
            }
        }
    }
}

.header-home {
    background-color: rgba(2,40,53,0.15);
    position: relative;
    z-index: 3;
}

.header-general {
    background-color: RGBA(255, 255, 255, 7.5);
    .header__dropdown-button {
        color: map-get($global-palette, dark);
    }
    .header__menu-anchor {
        color: map-get($global-palette, dark);
    }
}

.header__menu-paragraph {
    display: inline-block;  
    margin-bottom: 0;
    a {
        color: white;
    }
    @include breakpoint(medium down) {
        display: block;
        margin: 2rem auto;
        a {
            color: map-get($global-palette, dark);
            font-weight: 600;
        }
    }
}

.header__menu-anchor:hover {
    @extend %red-underline;
}

.header-subsection {
    @extend %flex-and-justify;
}

.header__dropdown-button {
    @extend .navbar-dropdown-font;
    padding-left: 2rem;
    margin-bottom: 0;
}

.header__active-link {
    @extend %red-underline;
}

.navbar__company-logo {
    display: block;
    margin: auto;
}

.navbar__company-logo:hover {
    cursor: pointer;
}

.navbar__company-logo__do-not-display {
    display: none !important;
}

.navbar__company-log-wrapper {
    max-height: 50px;
    max-width: 100px;
    @include breakpoint(large up) {
        max-height: 100px;
        max-width: 210px;
    }
}   

.header__dropdown-button:hover {
    cursor: pointer;
}

.header-main-menu {
    @extend .header-subsection;
    @include breakpoint(medium down) {
        z-index: 20;
        display: none;
        height: 100vh !important;
        width: 100vw;
        position: absolute;
        top: $topbar-height-md;
        left: 0;
        text-align: center;
        background-color: #E0E1DD
    }
    @include breakpoint (small only) {
        height: 100vh !important;
        top: $topbar-height-sm !important;
    }
}

.dropdown-nav-active {
    background-color: #E0E1DD;
}

.dropdown-nav-active-button {
    color: map-get($global-palette, dark)
}

.navbar__search-icon {
    cursor: pointer;
}

.header__search-icon-wrapper {
    margin-bottom: 0;
}

video {
    width: 100%;
    height: 100%;
}

.navbar__searchbar, .navbar__searchbar--sticky {
    @extend %generic-border-radius;
    display:none;
    width: 320px;
    height: 60px;
    position: fixed; 
    top: $topbar-height-sm;
    background-color: white;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.25);
    z-index: 10;

    @include breakpoint (medium down) {
        left: 2rem;
    }
    @include breakpoint (medium only) {
        top: $topbar-height-md;
    }
    @include breakpoint (large up) {
        width: 390px;
        height: 60px;
        top: $topbar-height-lg * .75 ;
        right: 20rem;
    }
}

.navbar__searchbar__input, .navbar__searchbar__input:focus,
.navbar__searchbar__input--sticky, .navbar__searchbar__input--sticky:focus {
    border: none;
    background-color: transparent;
    display: inline-block;
}

.navbar__searchbar__button {
    @extend .navbar-searchbar-font;
    height: 40px;    
    width: 80px;
    @include breakpoint (large up) {
         width: 150px;
    }
}

